<section class="navhome">
  <div class="container-fluid">
    <div class="row">
      <div class="homeNavbar">
        <div class="col-lg-4 col-md-2 col-sm-4">
          <a [routerLink]="'/home'"><img src="../assets/images/bel-barber-logo.png" class="logo" alt="Bel Barber"></a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-1 tabvieMenu">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <mat-icon aria-hidden="false" aria-label="">menu</mat-icon>
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="'/products'">BARBE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/accueil-products'">VISAGE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CHEVEUX</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ACCESSOIRES</a>
                </li>
              </ul>
            </div>
          </nav>

        </div>
        <div class="col-lg-4 col-md-5 col-sm-1 taviewlastmen">
          <div class="lastment d-flex">
            <mat-icon aria-hidden="false" aria-label="" class="mt-3">shopping_bag</mat-icon>
             <p>(0)</p>
             <a class="btn chevabtn" href="#">Se connecter</a>
             <a class="btn chevabtn" href="#">S’inscrire</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<router-outlet></router-outlet>
<app-footer></app-footer>
