.navhome .container-fluid{
    padding: 0px;
}
.navhome{
    background-color: #464d5c!important;
    padding: 10px 40px;
}

.navhome a.nav-link {
    color: #f7dda4!important;
    font-weight:450;
}
.navhome img.logo{
    width: 50px!important;
}
.lastment{
    float:right;
    margin-top: 10px;
}
.lastment .mat-icon{
    color: #f7dda4;
}
.lastment p{
    color: #f7dda4;
    margin-left: 5px;
    padding-top: 18px;
}
.lastment a{
    background-color: #f7dda4;
    color: #000;
    border: none;
    border-radius: 0px;
    margin: 10px;
    font-size: 14px;
}

.homeNav {
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
}
.bg-light{
    background: transparent!important;
    font-size: 16px;
    margin-top: 10px;
}

@media (min-width: 1200px){
    div#navbarNav {
        margin-left: 197px;
    }
}
@media (min-width: 993px) and (min-width: 1024px){
    .homeNavbar{
        display: flex;
    }
    .navhome{
        padding: 10px 40px;
    }
    .tabvieMenu{
        position: absolute;
        left: 280px;
        top: 15px;
    }
    .taviewlastmen{
        position: absolute;
        right: 16px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .navhome{
        padding: 10px 40px 57px 40px;
    }
    .homeNavbar{
        display: flex;
        position: relative;
    }
    .tabvieMenu{
        position: absolute;
        left: 200px;
        top: 54px;
    }
    .taviewlastmen{
        position: absolute;
        right: 0px;
    }
}

@media (max-width:767px) {
    .homeNavbar{
        display: flex;
        position: relative;
    }
    .tabvieMenu{
        position: absolute;
        right: 0px;
    }
   .chevabtn{
       display: none;
   }
   .chevabtn{
       display: none;
   }
   .taviewlastmen{
    position: absolute;
    right: 70px;
   }
   .navbar-light .navbar-toggler{
       border:none!important;
   }
   .navbar-light .navbar-toggler-icon{
    display: none;
}
    button.navbar-toggler .mat-icon {
        color: #f7dda4;
        font-size: 30px;
    }
}
