
.barPagination ul li{
    border: none;
    border-radius: 0px;
   
    
}
.barPagination .page-link{
    background-color:#464d5c;
    color: #f7dda4!important;
    text-decoration: none;
    text-decoration: none!important;
    border: none!important;
}
.barPagination a.page-link.active {
    color:#464d5c!important;
    background-color: #f7dda4; 
    
}
.page-item:first-child .page-link, .page-item:last-child .page-link{
    border-radius: 0px!important;
    padding: 1px 4px;
}
a.page-link .mat-icon {
    padding: 1px ​0px;
}
.barProduct p{
    width: 50%;
    margin: 20px auto;    
  }
.productLeft .accordion-button{
    background: #464d5c!important;
    border: none;
    color: #F7dda4;
    padding: 12px 10px 0px 10px!important;
    margin-bottom: 8px;
}
.productLeft .accordion-button h4 {
    font-size: 17px!important;
}
.productLeft .accordion-button::after{
    background-image: url('../../../assets/images/pluedropdown.jpg');
    margin-top: -6px;
}
.productLeft .accordion-button {
    background: #464d5c!important;
    border: none;
    color: #F7dda4;
    padding: 0px;
    border-radius: 0px;
}
.productLeft  .accordion-body,.accordion-item {
    background: #F7dda4!important;
    border: none;
    color: #464d5c;
    padding: 0px;
}
.productLeft .accorInner{
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 500;
}
.accordion-button:focus{
    box-shadow: none!important;
}
.accordion-button:not(.collapsed) {
    box-shadow: none!important;
}
.productLeft .accordion-header{
    margin: 7px 0px!important;
}
.productLeft .form-check-input[type=checkbox] {
    border-radius: 0px;
    background: #464d5c;
    width: 12px;
    height: 12px;
}

@media (max-width:576px){
    .mobileLeft{
       margin-bottom: 40px;
    }
    .barProduct p{
        width: 100%;
    }
    .productLeft .accordion {
        width: 50%;
        margin: 0px auto 40px auto;
    }
}
@media (min-width:577px)and (max-width:768px){
    .barProduct p{
        width: 100%;
    }
    .productLeft .accordion {
        width: 50%;
        margin: 0px auto 40px auto;
    }
}