<div class="container barProduct">
    <div class="row barProCont">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li>|</li>
            <li>Products barbe</li>
        </ul>
        <h2>PRODUITS BARBE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim
            nulla egestas tellus a. Vitae scelerisque magna id vestibulum quam cras
            morbi eros. Scelerisque pellentesque nec nisl vivamus est facilisis nisl.
            Massa est est massa aliquet aliquam fermentum scelerisque</p>
    </div>
    <div class="row productLeft">
        <div class="col-md-3 col-sm-12 mobileLeft">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">

                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h4>Service Client</h4>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="accorInner">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Huile à Barbe
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Huile de Ricin Fortifiant
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Baumes à Barbe
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Nettoyage Barbe
                                </label>
                              </div>
                           </div>
                      </div>
                    </div>
                  </div>

              </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row products">
                <div class="col-md-4 col-sm-6 col-xs-12 mb-5" *ngFor="let img of homeImg">
                  <img src="{{img.image}}" alt="Product" class="cardimg">
                  <h4>{{img.imageName}}</h4>
                 <div class="price d-flex justify-content-between">
                    <h5>{{img.price}} €</h5>
                    <div class="d-flex carticon">
                        <a href="#"> <mat-icon aria-hidden="false" aria-label="">medical_services</mat-icon></a>
                        <a href="#"> <mat-icon aria-hidden="false" aria-label="">zoom_in</mat-icon></a></div>
                 </div>
                </div>
            </div>
            <div class="row">
                <nav aria-label="" class="barPagination">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link">
                            <mat-icon aria-hidden="false" aria-label="">chevron_left</mat-icon>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link active" href="/products">1</a></li>
                      <li class="page-item"><a class="page-link" href="/products">2</a></li>
                      <li class="page-item"><a class="page-link" href="/products">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="/products"> <mat-icon aria-hidden="false" aria-label="">navigate_next</mat-icon></a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

</div>
