.addPage h3{
    color: #464d5c;
    font-size:24px!important;
    font-weight: 500;
}
.price{
    color: #b89068;
    font-size: 18px;
    font-weight: bold;
}

.addPage h4{
    color: #464d5c;
    font-weight: 600;
}
.addPage p{
    color:#464d5c;
    margin: 0px;
    font-weight: 500;
}
.addtocart{
    background-color: #464d5c;
    color: #f7dda4;
    border-radius: 0px;
    font-weight:600;
    margin: auto;
    width:200px;
    height: 50px;
}
.shareSocial{
    padding: 20px 0px;
}
.shareSocial p{
    margin-right: 15px;
}
.shareSocial img{
    width: 22px;
    margin: 0px 10px;
}
.conseil{
    background-color:#464d5c;
    padding: 20px 0px 50px 0px;
}
.conseil h3{
    text-align: center;
    color: #f7dda4;
}
.conseil p{
    padding: 20px 150px;
    color: #f7dda4;
}
.review{
    padding: 50px 0px 20px 0px;
}
.review p{
    padding: 4px 20px 0px 20px;
}
.review .mat-icon{
    font-size: 15px;
    width: 15px;
    color: #b89068;
}
.review .removePadding{
    padding: 4px 4px;
}
.review h5{
    font-size: 20px!important;
    font-weight:600;
    color:#464d5c;
    margin: 0px 5px 0px 0px;
}

.janetext p{
    padding: 0px 0px 30px 0px;
}
.hrline{
    height: 1px;
    border-top: 2px solid #464d5c;
    opacity: 10;
    margin: 0px 10px 60px 10px;
}
.voirbtn{
    color: #464d5c;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width:576px){
    .shareSocial{
        padding: 20px 14px;
    }
    .conseil p {
        padding: 20px 50px;
    }
    ol.carouMobile.list-inline {
        display: none;
    }
    .addPage h3 {
        margin-top: 20px;
    }
}
@media (min-width:577px)and (max-width:768px){
    .conseil p {
        padding: 20px 50px;
    }
}




.container {
    margin-top: 100px;
    margin-bottom: 100px
}

.carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 80%
}