<div class="container barProduct addPage">
    <div class="row barProCont">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li>|</li>
            <li>Produits barbe</li>
            <li>|</li>
            <li>Savon Naturel</li>
            <li>|</li>
            <li>Tout-En-Un</li>
        </ul>
      </div>
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12  pr-0 m-0">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <!-- slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active"> <img src="../../../assets/images/products/Crème.jpg" alt="Hills"> </div>
                    <div class="carousel-item"> <img src="../../../assets/images/products/Crème.jpg" alt="Hills"> </div>
                    <div class="carousel-item"> <img src="../../../assets/images/products/Crème.jpg" alt="Hills"> </div>
                   
                </div>
               
                <ol class="carousel-indicators list-inline carouMobile">
                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="../../../assets/images/products/Crème.jpg" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="../../../assets/images/products/Crème.jpg" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="../../../assets/images/products/Crème.jpg" class="img-fluid"> </a> </li>
                   
                </ol>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h3>Savon Nautrel Tout-En-Un - BIG RED</h3>
            <div class="price">22,00 €</div>
            <h4>Sed placerat at vel platea sed.</h4>
            <p><b> ipsum dolor </b> sit amet, consectetur adipiscing elit.<br /><br />
                Dictumst nulla <b>consequat</b>, suspendisse donec orci rhoncus.<br /><br />
                Id nunc id dictum <b>sapien</b> sapien viverra ut tortor.
                Vestibulum, vel elementum risus, habitant in.</p><br /><br />
                <div class="row text-center">
                    <button class="btn addtocart">Ajouter Au Panier</button>
                </div>
                <div class="row">
                    <div class="d-flex shareSocial">
                        <p>SHARE</p>
                        <a href="#"><img src="../../../assets/images/fb.jpg"/></a>
                        <a href="#"><img src="../../../assets/images/gplus.jpg"/></a>
                        <a href="#"><img src="../../../assets/images/twit.jpg"/> </a>
                    </div>
                </div>
          </div>
      </div>
      <div class="row conseil">
          <h3>Conseil d’utilisation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa morbi donec iaculis faucibus velit. Integer ullamcorper faucibus auctor arcu nulla facilisis non nunc.<br /><br/>
            Massa purus tempus scelerisque est sed. Viverra nunc ut et, in pharetra cursus consectetur mattis. Lorem
            
            </p>
      </div>

      <div class="row review">
          <div class="avls d-flex">
              <h3>AVIS CLIENTS</h3>
              <p class="removePadding">Nombre d’avis :</p>
              <h5>18</h5>
              <p class="removePadding">Note moyenne :</p>
              <h5>4.8/5</h5>
              <p class="removePadding"><mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon></p>
                
          </div>
          <hr class="hrline">
          <div class="avls janetext">
            <div class="d-flex">
                <h5>Jane Cooper</h5>
                <p class="removePadding">le 8/16/13</p>
                <p class="removePadding"><mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon></p>
                <h5>5/5</h5>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis veniam sint ut. Sed nobis ratione quo <br/>debitis at quidem obcaecati.</p>
        </div>
        <div class="avls janetext">
            <div class="d-flex">
                <h5>Wade Warren</h5>
                <p class="removePadding">le 8/2/19</p>
                <p class="removePadding"><mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon></p>
                <h5>4.7/5</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="avls janetext">
            <div class="d-flex">
                <h5>Floyd Miles</h5>
                <p class="removePadding">5/30/14</p>
                <p class="removePadding"><mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star</mat-icon>
                <mat-icon aria-hidden="false" aria-label="">star_border</mat-icon></p>
                <h5>4/5</h5>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores corporis<br/> provident, quam repudiandae sit</p>
        </div>

        <a href="#" class="btn voirbtn">Voir plus d’avis +</a>
      </div>

</div>


