.footermain{
    background: #464d5c;
    color: #f7dda4;
    padding: 40px 0px 20px 0px;
}
.footermain h4{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.footermain ul{
    list-style: none;
    padding: 0px;
}

.footermain ul li a{
    cursor: pointer;
    color: #f7dda4;
    text-decoration: none;
}
.footermain input{
    background-color: transparent;
    border: 1px solid #f7dda4;
    padding: 10px;
    width: 100%;
}

.footermain  ::placeholder {
    color: #F7dda4;
    opacity: 1;
  }
.socialicon {
    margin-top: 20px;
}
.socialicon a{
color: #F7dda4;  

}
.socialicon .mat-icon{
font-size: 30px!important;
margin:10px;
}
.phone .mat-icon{
    font-size: 20px;
    margin-right: 2px;
}
.mobileFooter .accordion-button{
    height: 20px;
}
.mobileFooter .accordion-button, .accordion-body,.accordion-item {
    background: #464d5c!important;
    border: none;
    color: #F7dda4;
    padding: 0px;
}
.accordion-button:focus{
    box-shadow: none!important;
}
.accordion-button:not(.collapsed) {
    box-shadow: none!important;
}
.mobileFooter .accordion-header{
    margin: 7px 0px!important;
}
.accordion-button::after{
   background-image: url("../../../assets/images/footernavarrow.jpg");
}

.socialicon img {
    width: 37px;
    margin: 8px;
}
@media (max-width:767px){
    .desktop{
        display: none;
    }
}
@media (min-width:768px){
    .mobileFooter{
        display: none;
    }
}