<section class="footermain">
    <div class="container">
        <div class="row desktop">
            <div class="col-md-4">
                <h4>Service Client</h4>
                <div class="d-flex phone">
                    <mat-icon aria-hidden="false" aria-label="call">call</mat-icon>
                    <p>01 65 98 58 47</p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Catégories</h4>
                <ul>
                    <li><a href="#">Barbe</a></li>
                    <li><a href="#">Visage & Corps</a></li>
                    <li><a href="#">Cheveux</a></li>
                    <li><a href="#">Accessoires</a></li>
                   </ul>
            </div>
            <div class="col-md-4">
                <h4>Newsletter</h4>
                <input type="text" placeholder="Saisissez votre adresse e-mail">
            </div>
        </div>
        <div class="row mobileFooter">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                                  
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h4>Service Client</h4>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="d-flex phone">
                            <mat-icon aria-hidden="false" aria-label="call">call</mat-icon>
                            <p>01 65 98 58 47</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h4>Catégories</h4>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="#">Barbe</a></li>
                            <li><a href="#">Visage & Corps</a></li>
                            <li><a href="#">Cheveux</a></li>
                            <li><a href="#">Accessoires</a></li>
                           </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          <h4>Informations</h4>
                      </button>
                    </h2>
                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    
                      </div>
                    </div>
                  </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4>Newsletter</h4>
                      
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <input type="text" placeholder="Saisissez votre adresse e-mail">
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row socialicon">
            <div class="d-flex justify-content-center">
                <a href="#"><img src="../../../assets/images/facebook.png"/></a>
                <a href="#"><img src="../../../assets/images/instagram.png"/></a>
                <a href="#"><img src="../../../assets/images/twitter.png"/> </a>
            </div>
        </div>
    </div>
</section>
