.carousel-inner-banner {
    height: 400px;
}


/* Tabs Card */

.tab-card {
    border:1px solid #eee;
  }
  
  .tab-card-header {
    background:none;
  }
  /* Default mode */
  .tab-card-header > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tab-card-header > .nav-tabs > li {
    margin-right: 2px;
  }
  .tab-card-header > .nav-tabs > li > a {
    border: 0;
    border-bottom:2px solid transparent;
    margin-right: 0;
    color: #737373;
    padding: 2px 15px;
  }
  
  .tab-card-header > .nav-tabs > li > a.show {
      border-bottom:2px solid #007bff;
      color: #007bff;
  }
  .tab-card-header > .nav-tabs > li > a:hover {
      color: #007bff;
  }
  
  .tab-card-header > .tab-content {
    padding-bottom: 0;
  }
  .products img{
     width: 100%; 
  }
.rapidemain{
    margin: 80px 0px;
}
.rapide{
width: 150px;
height: 150px;
background-color: #464d5c;
color: #f7dda4;
border-radius: 100%;
margin: auto;
}
.rapide mat-icon{
font-size: 80px;
position: relative;
top: calc(31% - 10px);
left: calc(31% - 10px); 
}
.rapidemain h3{
    font-weight: bold;
    color: #464d5c;
    font-size: 20px!important;
    text-align: center;
    margin-top: 20px;
}
.footerbg{
    padding: 0px;
}
.footerbg img{
    width: 100%;
}

.bannerimg{
  padding: 0px;
  background-image:url("../../../assets/images/banner/bel-banner.jpg") ;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.footerbg{
  padding: 0px;
  background-image:url("../../../assets/images/banner/footerbanner.jpg") ;
  background-size: cover;
  width: 100%;
  height: 400px; 
  position: relative;
  background-color: #000;
}
.content{
  position:relative;
  z-index: 9999;
  color: #fff;
  top: 128px;
  width: 57%;
  margin: auto;
}
.content h2{
  color: #f7dda4;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.content p{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width:992px){
  .content{
      width: 90%;
  }
}
.card-header:first-child {
  border: none;
}

.tab-card {
  border: none;
}

.card-header.tab-card-header {
  border: none;
}
.card-header.tab-card-header.desktoplist {
  margin: 30px auto 20px auto;
}
ul#myTab li {
  background: #f7dda4;
  color:#464d5c;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  margin: 0px 5px;
}
#myTab li.nav-item.active{
  background: #464d5c;
  color:#f7dda4!important;
  font-weight: bold;
}
a#ventes-tab{
  color:#f7dda4!important; 
}
.card-header.tab-card-header.mobilelist {
  margin: 20px auto 10px auto;
}
.mobilelist select {
  background: #464d5c;
  color:#f7dda4!important; 
  width: 200px;
  height: 41px;
  text-align: center;
    font-size: 14px;
    font-weight: bold;
}
@media (max-width:576px){
  .desktoplist{
    display: none;
  }
  .content {
    top: 74px;
}
}
@media (min-width:577px){
  .mobilelist{
    display: none;
  }
}

