<div class="container-fluid bannerimg">
</div>
 <div class="container">
    <div class="card tab-card noveatumain">
        <div class="card-header tab-card-header desktoplist">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="ventes-tab" data-toggle="tab" href="#ventes" role="tab" aria-controls="VENTES" aria-selected="true">VENTES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nouveautes-tab" data-toggle="tab" href="#nouveautes" role="tab" aria-controls="NOUVEAUTÉS" aria-selected="false">NOUVEAUTÉS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="promotions-tab" data-toggle="tab" href="#promotions" role="tab" aria-controls="PROMOTIONS" aria-selected="false">PROMOTIONS</a>
            </li>
          </ul>
        </div>
        <div class="card-header tab-card-header mobilelist">
          <select name="forma">
            <option value="NOUVEAUTÉS"><a class="nav-link" id="nouveautes-tab" data-toggle="tab" href="#nouveautes" role="tab" aria-controls="NOUVEAUTÉS" aria-selected="false">NOUVEAUTÉS</a></option>
            <option value="VENTES"><a class="nav-link" id="ventes-tab" data-toggle="tab" href="#ventes" role="tab" aria-controls="VENTES" aria-selected="true">VENTES</a></option>

            <option value="PROMOTIONS"><a class="nav-link" id="promotions-tab" data-toggle="tab" href="#promotions" role="tab" aria-controls="PROMOTIONS" aria-selected="false">PROMOTIONS</a></option>
        </select>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active p-3" id="ventes" role="tabpanel" aria-labelledby="ventes-tab">
                <div class="row products">
                <div class="col-md-4 col-sm-6 col-xs-12 mb-5" *ngFor="let img of homeImg">
                  <img src="{{img.image}}" alt="Product" class="cardimg">
                  <h4>{{img.imageName}}</h4>
                 <div class="price d-flex justify-content-between">
                    <h5>{{img.price}} €</h5>
                    <div class="d-flex carticon">
                        <a href="#"> <mat-icon aria-hidden="false" aria-label="">medical_services</mat-icon></a>
                        <a href="#"> <mat-icon aria-hidden="false" aria-label="">zoom_in</mat-icon></a></div>
                 </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade p-3" id="nouveautes" role="tabpanel" aria-labelledby="nouveautes-tab">
            <h5 class="card-title">nouveautes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="tab-pane fade p-3" id="promotions" role="tabpanel" aria-labelledby="promotions-tab">
            <h5 class="card-title">promotions</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
      <div class="row rapidemain">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="rapide">
                <mat-icon aria-hidden="false" aria-label="">local_shipping</mat-icon>
            </div>
            <h3>LIVRAISON RAPIDE</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="rapide">
                <mat-icon aria-hidden="false" aria-label="">lock</mat-icon>
            </div>
            <h3>PAIEMENT SÉCURISÉ</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="rapide">
                <mat-icon aria-hidden="false" aria-label="">diamond</mat-icon>
            </div>
            <h3>QUALITÉ CERTIFIÉE</h3>
        </div>
      </div>
 </div>
 <div class="container-fluid footerbg">
    <div class="container">
        <div class="row">
            <div class="content">

                    <h2>BEL-BARBER</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, fugiat. Quibusdam cumque delectus vero ad dolores officiis, nihil, expedita maxime sequi dolore unde nulla placeat iste voluptates amet laborum ab.Quibusdam cumque delectus </p>

            </div>
        </div>
    </div>
 </div>

