/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.products h4{
    color:#464d5c;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }
  .products h5{
    color: #b89068;
    font-size: 18px;
    font-weight: bold;
  }
  
  .carticon .mat-icon{
    color:#464d5c;
    margin: 3px;
  }
  .cardimg{
    border: 1px solid #f4f4f4;
    width: 100%;
  }

  .barProCont{
    margin: 30px 0px;
    text-align: center;
}

.barProduct ul{
    list-style: none;
    margin: 0px auto 20px auto;

}
.barProduct ul li{
    padding: 4px;
    color: #464d5c;
    display: inline;
    font-size: 15px;
}

.barProduct ul li a{
    text-decoration:underline;
    color: #464d5c;
}
.barProduct h2{
    font-size: 40px;
    color: #464d5c;
    font-size: 500;
}


